
*{
    font-family: 'Baloo Paaji', cursive;
    font-size: 20px;
}
.navbar{
	margin-bottom: 0;
	background-color:#67B9FD ; 
}

.container-fluid{
	margin-top: 50px;
}
.margin-top{
    margin-top :148px;
}
.navbar-brand, .navbar-default{
	color: black;
}

#play{
	margin-right: 20px;
}
.fa-play{
	color: green;
}

.large{
    font-family: 'Days One', sans-serif;
    font-size: 14px;
    min-height: 580px;
    border: none;
}
#codigo{
	padding: 5px;
	resize: none;
	height: auto;
}

#num{
    height: 580px;
	padding: 5px;
    overflow-y: scroll;
}

#Error {
    padding: 5px 10px;	
}

.colorerror{
	background-color:#E8E8E8 ; 
}
.lineaerror{
	border-width: 0px 2px dashed white; 
}

.letradoc{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
}
.atras{
	margin-right:20px;
}
p{
	font-family: 'Days One', sans-serif;
	margin: 0;
    font-size: 14px;
}
.colornumero{
	background-color: 	#E8E8E8 ;
}
.colorsubtitulos{
	background-color: #E8E8E8  ;
}
.nav li{
	text-align: center;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
{
	padding: 0;
	margin: 0;
}

.espacio{
	padding: 12px;
}
@media screen and (max-width: 768px){
	#play{
		margin-right: auto;
    }
    .large {
	    min-height: 500px;
    }
    #num {
	    height: 500px;
    }
}   
@media screen and (max-width: 240px){
    .navbar-header a.navbar-brand, ul.navbar-nav li a#doc {
	    font-size: 0.7em;
    }
    p{
       font-size: 11px; 
    }
    .large {
	    min-height: 230px;
        font-size: 11px;
    }
    #num {
	    height: 230px;
    }
}